<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="createCardStyles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
  </head>
  <form action="/createcard" method="POST">
    <div class="form-group">
  <body>
    <h1>Create your DevCard</h1>
    <input
        name="name"
        id="name"
        name="name"
        class="form-control"
        placeholder="Enter Your Full Name"
      />
    <br>
    <input
        name="me"
        id="me"
        name="me"
        class="form-control"
        placeholder="About Me"
      />
    <br>
    <input
        name="github"
        id="github"
        name="github"
        class="form-control"
        placeholder="Github URL"
      />
    <br>
    <input
        name="twitter"
        id="twitter"
        name="twitter"
        class="form-control"
        placeholder="Twitter"
      />
    <br>
    <input
        name="books"
        id="books"
        name="books"
        class="form-control"
        placeholder="Favourite Books"
      />
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </body>
</html>
